---
layout: default
---

<div class="home">
  <h1 class="page-heading">{{ page.title }}</h1>

  {% assign all_notes = site.essays | concat: site.fiction | concat: site.seasons | concat: site.templates %}
  {% assign posts = all_notes | where_exp: "note", "note.tags contains page.tag" | sort: "date" | reverse %}

  {% if posts.size > 0 %}
    <ul class="post-list">
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      {% for post in posts %}
        <li>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {% if site.minima.show_excerpts %}
            <p>{{ post.excerpt | markdownify }}</p>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No posts found in this cluster.</p>
  {% endif %}
</div>

